<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./language_box.css">
    <title> Language box</title>
</head>
<body>
    <div class="container_language_box">
        <div class="exit"><button> <svg width="42" height="42" viewBox="0 0 24 24" fill="none"><path d="M18.1 8.1l-2.2-2.2-3.9 4-3.9-4-2.2 2.2 4 3.9-4 3.9 2.2 2.2 3.9-4 3.9 4 2.2-2.2-4-3.9 4-3.9z" fill="currentColor"></path></svg> </button></div>

        <div class="selection_language"> Select your preferred language </div>

        <div class="language_buttons">
            <div class="english"><button> English </button></div>
            <div class="portuguese"><button> Portuguese </button></div>
        </div>
    </div>
</body>
</html>